<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.BookDao">
    <select id="queryAllBook" resultType="com.example.demo.entity.Book">
        select
        book_id bookId,
        book_name bookName,
        book_price bookPrice,
        book_author bookAuthor
        from book

    </select>
    <select id="queryById" resultType="com.example.demo.entity.Book">
         select * from book where book.id = #{id}
    </select>
    <insert id="addBook" parameterType="com.example.demo.entity.Book">
        insert into book(book_id,book_name,book_price,book_author)
        values (#{bookId},#{bookName},#{bookPrice},#{bookAuthor})
    </insert>
</mapper>




